.menuContainer--mobileMenu .styledLinkContainer{
    padding: 10px 20px;
    background: #01abb5;
    margin: 0px;
    width: 100%;
    border-bottom: 2px solid #fff;
}
.menuContainer--mobileMenu .styledLink{
    color: #fff;
}

.menuContainer--mobileMenu .menuContainer--mobileSubmenu .styledLinkContainer{
    padding: 10px 20px;
    background: #fff;
    margin: 0px;
    width: 100%;
    border-bottom: 1px solid #01abb5;
}

.menuContainer--mobileMenu .menuContainer--mobileSubmenu .styledLink{
    color: #01abb5;
}






@media only screen and (min-width: 80em){
    .menuContainer{justify-content: center;}
.styledLink{
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;
}
    .submenu{
        justify-content: left;
        width:300px;
    }
    .submenu .menuItem .styledLink{
        color:#000;
        font-weight: normal;
        justify-content: left;
        text-align: left;
        transition: all ease 0.3s;
    }
    .submenu .menuItem .styledLink:hover{
        color: #dcc15f;
    }
}

