@media only screen and (min-width: 80em){
    .menuContainer{justify-content: center;}
.styledLink{
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;
}
    .submenu{
        justify-content: left;
        width:300px;
    }
    .submenu .menuItem .styledLink{
        color:#000;
        font-weight: normal;
        justify-content: left;
        text-align: left;
        transition: all ease 0.3s;
    }
    .submenu .menuItem .styledLink:hover{
        color: #dcc15f;
    }
}

