@media only screen and (min-width: 80em) {
    .label{
        display: block;
        position: relative;
    }
    .badge{
        top: inherit;
        bottom: -1.8rem;
        right: -4.5rem;
        background: #fff;
        color: #00607f;
        width: auto;
        z-index: 2;
        padding: 0 .5rem;
    }
    .contentSmall{
        border: 0;
    }
}